body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: blueviolet;
    background-color: whitesmoke;
    font-size: x-large;
    font-weight: 200;
    border: 0cm color(srgb red green blue);
    margin: 0%;
}